*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
/* CONTAINER ID APP */
body{
    height: 100vh;
    width: 100%;
    background: linear-gradient(130deg, #fdcd3b 50%, #009688 50%);
    background-size:  cover;
    background-repeat: no-repeat;
}
.background-up{
    background-color: #009688;
    height: 100px;
    width: 100vw;
    position: absolute;
}
.background-down{
    background-color: #DBDBD3;
    height: calc(100vh - 100px);
    width: 100vw;
    position: absolute;
}
/* CONTAINER APPLICATION */
.container{
    display: flex;
    position: absolute;
    top: 10px;
    left: 10%;
    width: 80%;
    min-height: 300px;
   height: 80%;
    margin: auto;
}
/* UPPER SIDEBAR */
.upper-sidebar{
    background-color: #EAEAEA;
    height:50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.upper-sidebar i{
    padding: 10px;
}
.logo-utente{
    height: 90%;
    width: 20%;
    padding-left: 5%;
}
.logo-utente img{
    height: 100%;
    width: 100%;
}


/* LEFT SIDE */
.left{
    margin-right: -1px;
    min-height: 300px;
    background-color: #FFFFFF;
    width: 30%;
    border-right: 2px solid lightgray;
}
/* LEFT SIDEBAR */
.alert-sidebar{
    background-color: #8EDAFC;
    height: 50px;
    width: 100%;
}

.utenti-sidebar{
    height: 100%;
    width: 100%;
}
.input-chat{
    display: flex;
    align-items: center;
    justify-content: space-evenly   ;
    background-color: #FAFAFA;
    height: 40px;
    width: 100%;
}

.input-chat input{
    width: 80%;
    height: 30px;
    line-height: 30px;
    border-radius: 20px;
    
}
.chats{
    background-color: white;
    overflow-y: auto;
    height: calc(100% - 140px);
    width: 100%;
}
/* RIGHT SIDE */
.right{
    min-height: 300px;
    width: 70%;
}
/* RIGHT SIDEBAR */
.middle-sidebar{
    background-image:url(/img/background.png);
    background-size:  cover;
    background-repeat: no-repeat;
    height: calc(100% - 150px);
    width: 100%;
}

/* BOTTOM SIDEBAR RIGHT SIDE */
.bottom-sidebar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #F3EEEA;
    height: 100px;
    
}
.bottom-sidebar input{
    width: 80%;
    height: 50px;
    padding: 15px;
    border-radius: 5px;
    border: 2px solid grey;
}
.bottom-sidebar input:hover{
    border: 2px solid lightskyblue;
}
.bottom-sidebar i{
    color: grey;
}


