*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
/* CONTAINER ID APP */
.container{
    position: relative;
}
.background-up{
    background-color: #009688;
    height: 100px;
    width: 100vw;
}
.background-down{
    background-color: #DBDBD3;
    height: calc(100vh - 100px);
    width: 100vw;
}
/* CONTAINER APPLICATION */
.container-app{
    display: flex;
    position: absolute;
    top: 10px;
    left: 10%;
    background-color: chocolate;
    width: 80%;
    height: calc(100vh - 50px);
    margin: auto;
}

/* LEFT SIDE */
.left{
    
    background-color: #FFFFFF;
    height: 100%;
    width: 30%;
    border-right: 1px solid lightgray;
}

/* RIGHT SIDE */
.right{
    background-color: darkgreen;
    height: 100%;
    width: 70%;
}
/* SIDEBAR */
.upper-sidebar{
    background-color: #EAEAEA;
    height: 100px;
    width: 100%;

}
.middle-sidebar{
    background-image:url(/img/background.png);
    background-size:  cover;
    background-repeat: no-repeat;
    height: calc(100% - 200px);
    width: 100%;
}
.bottom-sidebar{
    background-color: #F3EEEA;
    height: 100px;
    
}