*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
/* CONTAINER ID APP */
body{
    height: 100vh;
    width: 100%;
    background: linear-gradient(130deg, #fdcd3b 50%, #009688 50%);
    background-size:  cover;
    background-repeat: no-repeat;
}
.icons{
    color:grey;
}
.icons:hover{
    cursor: pointer;
}


/* CONTAINER APPLICATION */
.container{
    display: flex;
    position: absolute;
    top: 10px;
    left: 10%;
    width: 80%;
    min-height: 300px;
   height: 80%;
    margin: auto;
}
/* UPPER SIDEBAR */
.upper-sidebar{
    background-color: #EAEAEA;
    height:70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.upper-sidebar i{
    padding: 5px;
}

/*---------CHATS LOGO-UTENTE-----*/
.chats .logo-utente{
    height:70px;
    width: 100%;
    border-bottom: 1px solid lightgrey; 
    padding: 5px ;
}
img{
    height:50px;
    width: 50px;
    border-radius: 20px;
    padding-bottom: 5px;
    vertical-align: middle;
    cursor: pointer;
}
.logo-utente{
    height: 100%;
    width: 60%;
    padding-left: 2%;  
}
.logo-utente:hover{
background-color: #EAEAEA;
}
.logo-utente img{
    height: 100%;
    width: 50px;
    float: left;
    margin-right: 10px;
}
.logo-utente h3{
    padding-top: 5px;
}
.logo-utente p{
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 15px;
    color: lightslategray;
}

/* LEFT SIDE */
.left{
    margin-right: -1px;
    min-width: 320px;
    min-height: 300px;
    background-color: #FFFFFF;
    width: 30%;
    border-right: 2px solid lightgray;
}
/* LEFT SIDEBAR */

/* ALERT  */
.alert-sidebar{
    background-color: #8EDAFC;
    height: 70px;
    width: 100%;
    text-align: center;
}
.alert-sidebar .text{
    font-size: 15px;  
    text-align: center;
    float: left; 
    padding-left: 5px;
    padding-top: 21px;
}
.alert-sidebar i{
    vertical-align: middle;
    background-color: white;
    border-radius: 50px;
    height: 40px;
    width: 60px;
    margin-left: 70px;
    margin-top: 15px;
    padding: 5px;
    font-size: 30px;
    color:#8EDAFC;
    float: left; 
}
/* UTENTI */
.utenti-sidebar{
    height: 100%;
    width: 100%;
}
.input-chat{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FAFAFA;
    height: 40px;
    width: 100%;
}

.input-chat input{
    width: 80%;
    height: 30px;
    line-height: 30px;
    border: none;
}
.search{
    padding-left: 10px;
    width: 80%;
    border: 2px solid lightgray;
    border-radius: 20px;
}

.chats{
    background-color: white;
    overflow-y: auto;
    height: calc(100% - 180px);
    width: 100%;
}
/* RIGHT SIDE */
.right{
    min-height: 300px;
    width: 70%;
    position: relative;
}
/* RIGHT SIDEBAR */
.middle-sidebar{
    background-image:url(/img/mine.jpg);
    background-size:  cover;
    background-repeat: no-repeat;
    height: calc(100% - 170px);
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-end;
}

/* BOTTOM SIDEBAR RIGHT SIDE */
.bottom-sidebar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #F3EEEA;
    height: 100px;
    
}
.bottom-sidebar input{
    width: 80%;
    height: 50px;
    padding: 15px;
    border-radius: 5px;
    border: 2px solid grey;
}
.bottom-sidebar input:hover{
    border: 2px solid lightskyblue;
}
.bottom-sidebar i{
    color: grey;
}



/*--------MESSAGE------*/
.sendMess{
   float: right;
    background-color: #009688;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: fit-content;
    max-width: 60%;
    word-wrap: break-word;
    padding: 10px; 
    margin: 2% 10%;
    color: white;
    
    
}
.receiveMess{
    float: left;
    background-color:grey;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    width: fit-content;
    max-width: 60%;
    word-wrap: break-word;
    border-radius: 10px;
    padding: 10px;
    margin: 2% 10%;
    color: white;   
    border-width: 13px 10px 0 10px;
}
.data{
    font-size: 0.4rem;
    float: right;
}
.day{
    color: black;
    position: absolute;
    top: 70px;
    left: 25%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    width: fit-content;
    max-width: 60%;
    word-wrap: break-word;
    border-radius: 10px;
    padding: 10px;
    margin: 2% 10%;
    
}



