<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <title>BOOLZAPP</title>
</head>

<body>
    <!-- CONTAINER FOR VUE JS -->
    <div class="container" id="app">

        <!--------------container altezza  di conseguenza togli altezza a left right-->
        <!-- LEFT SIDE -->
        <div class="left">
            <div class="upper-sidebar">
                <div class="logo-utente">
                    <img src="https://www.pngarts.com/files/3/Avatar-Transparent-Image.png" alt="">
                    <h3>Nome Utente</h3>
                </div>

                <div class="icons">
                    <i class="fas fa-spinner"></i>
                    <i class="far fa-envelope"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>

            </div>
            <div class="alert-sidebar">

                <i class="fas fa-bell-slash"></i>
                <div class="text">
                    <h5>Riveci notifiche di messaggi</h3>
                        <p>
                            <a rel="stylesheet" href=""> Attiva notifiche desktop </a>
                        </p>
                </div>



            </div>

            <div class=" input-chat">
                <div class="search">
                    <i class="fas fa-search"></i>
                    <input type="text" placeholder=" Cerca o inizia una nuova chat">
                </div>

            </div>
            <div class="chats">
                <div class="logo-utente" v-for="(item,index) in contacts">
                    <img :src="'img/avatar' + item.avatar + '.jpg'" alt="">
                    <h5> {{item.name}} </h5>
                </div>

            </div>



        </div>
        <!-- RIGHT SIDE  -->
        <div class=" right">
            <div class="upper-sidebar">
                <div class="logo-utente">
                    <img src="https://www.pngarts.com/files/3/Avatar-Transparent-Image.png" alt="">
                    <h3>Nome Utente</h3>
                </div>

                <div class="icons">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>
            <div class="middle-sidebar">
                <div class="texts" v-for="(value,index) in contacts">
                    <div class="message"> {{value.messages[0].text}}</div>
                </div>

            </div>
            <div class="bottom-sidebar">
                <i class="far fa-smile-beam"></i>
                <input type="text" placeholder="Scrivi un messaggio">
                <i class="fas fa-microphone"></i>
            </div>



        </div>
    </div>




    </div>
    <script src="js/script.js"></script>
</body>

</html>